<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<h2 class="text-center">All Users</h2>

<div class="text-center">
    <a th:href="@{/}">Go To Homepage</a>

</div>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Created Date</th>
    </tr>
    </thead>

    <tbody>
    <th:block th:each="user : ${key_users}">
        <tr>
            <td class="align-middle" th:text="${user.id}"></td>
            <td class="align-middle" th:text="${user.name}"></td>
            <td class="align-middle" th:text="${user.surname}"></td>
            <td class="align-middle" th:text="${user.email}"></td>
            <td class="align-middle" th:text="${user.createdDate}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>