<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Registration</h2>
            <form th:action="@{/sign-up}" th:object="${key_form}" method="post">

                    <div class="col-md-12 form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" th:field="*{name}">
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red" ></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Surname</label>
                        <input type="text" class="form-control" th:field="*{surname}">
                        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color: red"  ></div>

                    </div>
                    <div class="col-md-12 form-group">
                        <label>E-mail</label>
                        <input type="text" class="form-control" th:field="*{email}">
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"  ></div>

                    </div>

                    <button th:href="@{/all-users}" type="submit" class="btn btn-primary btn-block mt-3">Sign up</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>